log/*
temp/*
vendor/*
!vendor/others
tests/tmp/*
!tests/tmp/.keep
www/webtemp/*
!www/webtemp/.keep
www/images/uploaded/*
!www/images/uploaded/.keep

.DS_Store
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
/.idea
