<h1>User - {$editedUser->getNick()}</h1>
{control editUserForm}
<h2>Daemon</h2>
<a href="{plink Users:loginAsUser, userId => $editedUser->id}">Přihlásit se</a>

{if $showUsersWithSamePassword}
	<h3>Uživatelé se stejným heslem</h3>

	{if $usersWithSamePassword}
		<ul>
			<li n:foreach="$usersWithSamePassword as $userWithSamePassword">
				<a href="{plink Users:user, userId => $userWithSamePassword->getId()}">{$userWithSamePassword->getNick()}</a>
			</li>
		</ul>
	{else}
		<p>Žádní nebyli nalezeni</p>
	{/if}
{/if}
