<h1>User - {$editedUser->getNick()}</h1>
{if $editedUser->isDeleted()}
	<p>This user is deleted. <a n:href="reactivate!">Reactivate</a>.</p>
{else}
	<p><a n:href="delete!" data-confirm="Do you really want to delete user?">Delete user</a></p>
{/if}
{control editUserForm}

<h2>Daemon</h2>
<a n:href="loginAsUser!">Přihlásit se</a>

<h2>Change password</h2>
{control passwordChangeForm}

{if $showUsersWithSamePassword}
	<h3>Uživatelé se stejným heslem</h3>

	{if $usersWithSamePassword}
		<ul>
			<li n:foreach="$usersWithSamePassword as $userWithSamePassword">
				<a href="{plink Users:user, userId => $userWithSamePassword->getId()}">{$userWithSamePassword->getNick()}</a>
			</li>
		</ul>
	{else}
		<p>Žádní nebyli nalezeni</p>
	{/if}
{/if}
