#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
    salt: "" # set in config.local.neon, used for comparing password; leave empty for better security; generate with "Nette\Utils\Random::generate(22, '0-9A-Za-z./')"

php:
    date.timezone: Europe/Prague


nette:
    application:
        errorPresenter: Error
        mapping:
            *: Teddy\*Module\Presenters\*Presenter

    session:
        expiration: 14 days


services:
    - Teddy\Model\SystemLogs(@doctrine.dao(Teddy\Model\SystemLog))
    - Teddy\Model\UserLogs(@doctrine.dao(Teddy\Model\UserLog))
    - Teddy\Model\Stats(@doctrine.dao(Teddy\Model\Stat))
    - Teddy\Model\Users(%salt%, @doctrine.dao(Teddy\Model\User))
    - Teddy\Model\Logins(@doctrine.dao(Teddy\Model\Login))
    - Teddy\Model\Bans(@doctrine.dao(Teddy\Model\Ban))
    - Teddy\Model\Messages(@doctrine.dao(Teddy\Model\Message))
    - Teddy\Model\Forums(@doctrine.dao(Teddy\Model\Forum))
    - Teddy\Model\ForumPosts(@doctrine.dao(Teddy\Model\ForumPost))
    router: Teddy\Router\RouterFactory::create
    user: Teddy\Security\User
    wlCssFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
    lessFilter: WebLoader\Filter\LessFilter

    login:
        class: Teddy\Events\LoginListener
        tags: [kdyby.subscriber]

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
    visualPaginator: IPub\VisualPaginator\DI\VisualPaginatorExtension
    publisher: Teddy\Publisher\Extension
    webloader: WebLoader\Nette\Extension

migrations:
    table: doctrine_migrations # database table for applied migrations
    dirs: # list of dirs to load migrations from
        - %appDir%/migrations # first dir is used for generating migrations
    namespace: Teddy\Migrations # namespace of migration classes
    codingStandard: spaces # "tabs" or "spaces", cs for generated classes

doctrine:
    user: ***
    password: ***
    dbname: ***
    metadata:
        Teddy: %appDir%

webloader:
    css:
        default:
            files:
                - teddy/bootstrap.css
                - teddy/bootstrap-theme.css
                - teddy/style.less
                - teddy/bootstrap-datepicker/bootstrap-datepicker.css
            fileFilters:
                - @lessFilter
                - @wlCssFilter
        admin:
            files:
                - teddy/admin.less
    js:
        default:
            files:
#                - teddy/fingerprint2/fingerprint2.js # asynchro loading & execution?
                - teddy/jquery.js
                - teddy/bootstrap.js
                - teddy/main.js
                - teddy/netteForms.js
                - teddy/bootstrap-datepicker/js/bootstrap-datepicker.min.js
                - teddy/bootstrap-datepicker/locales/bootstrap-datepicker.cs.min.js
