<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset #title}{include title|striptags} | {/ifset}Teddy Admin</title>
	{control css}
	{control cssAdmin}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{*<a class="navbar-brand" href="#">Project name</a>*}
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{foreach $presenters as $presenter => $value}
					{if !is_array($value)}
						<li n:if="$user->isAllowed($presenter)" n:class="(($this->params['presenter']->getName() == $presenter) ? active), isset($dropdown) ? 'dropdown' : NULL">
							<a n:href=":$presenter:">{$value}</a>
						</li>
					{else}
						<li n:if="$user->isAllowed($presenter)" n:class="(($this->params['presenter']->getName() == $presenter) ? active), dropdown">
							<a n:href=":$presenter:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								{$value['name']} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{foreach $value['views'] as $view => $name}
									<li><a n:href=":$presenter:$view">{$name}</a></li>
								{/foreach}
							</ul>
						</li>
					{/if}
				{/foreach}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a n:href=":Game:Logout:">Logout</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">{$flash->message}</div>
	{include content}
</div>

{control js}
{control jsAdmin}
</body>
</html>
