<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}Nette Sandbox</title>
    {$header['css']|noescape}
    {$header['js']|noescape}
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    <h1>Admin</h1>
    <ul>
        {foreach $sections as $section => $name}
            {var $presenter = 'Admin:' . $section}
            <li n:if="$user->isAllowed($presenter)"><a n:href=":Admin:$section:">{$name}</a></li>
        {/foreach}
    </ul>

	{include content}

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
