<h3>Events</h3>

{if $events > 0}
	<p n:if="$notifications">{$notifications} new notifications</p>
	<p n:if="$unreadMessages">{$unreadMessages} unread messages</p>
{else}
	<p>No new events</p>
{/if}

<div id="teddy-events-notifications" style="display: none;">{$notifications}</div>
<div id="teddy-events-unreadMessages" style="display: none;">{$unreadMessages}</div>
