{block content}
    <h2>Message</h2>

    <div class="msg-detail">
        {$msg->getSenderNick()}
        {$msg->subject}
        {$msg->date->format('Y-m-d H:i:s')}
        <a n:href="delete, id => $msg->id">Smazat</a>
        <br>
        {$msg->text}
    </div>

    {control newMsgForm}
{/block}
