{block content}
	<h2>Message</h2>
	<div class="msg-detail">
		{$msg->getFrom()->getNick()}
		{$msg->getSubject()}
		{$msg->getSentAt()->format('Y-m-d H:i:s')}
		<a n:href="delete!, id => $msg->getId()">Delete</a>
		<br>
		{$msg->getText()}
	</div>
	{control newMsgForm}
{/block}
