* { box-sizing: border-box; }
.rw { display: block; line-height: 0; }
.cell { width: 10px; height: 10px; border: 1px solid #333; padding: 0; display: inline-block; line-height: 0; }
.typeB { background: #000; }
.typeG { background: #666; }
.typeD { background: #66a; }
.typeS { background: #fa0; }
.typeW { background: #aa2; }
.type0 { background: #333; }
.type1 { background: #00f; }
.type2 { background: #ff9; }
.type3 { background: #5c5; }
.type4 { background: #4b4; }
.type5 { background: #3a3; }
.type6 { background: #292; }
.type7 { background: #181; }
.type8 { background: #b93; }
.type9 { background: #a82; }
.type10 { background: #ccc; }
.type11 { background: #fff; }
.path { background: yellow; }
.start { background: blue; }
.target { background: red; }
.cell:hover { opacity: 0.5; }
table { border-collapse: collapse; }
.map { width: 90%; height: 500px; overflow: scroll; margin: 10px auto; }
